body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.section.logo {
    flex: 1;
    background-image: url('img/bg_image.jpg');
    background-size: cover;
}

.section.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    border: solid 1px blue;
}

.section.sign-in > * {
    border: 1px solid blue;
    flex: 1;
}