body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.main_image {
    flex: 1;
    background-image: url('img/bg_image.jpg');
    background-size: cover;
    background-position: center;
}

.main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.main_page > * {
    flex: 1;
}

#sign_in {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

fieldset {
    display: flex;
}

p {
    display: flex;
    flex-direction: column;
}

fieldset, fieldset p {
    margin: 0;
    padding: 0;
    border: 0;
}