body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.main_image {
    flex: 1;
    background-image: url('img/bg_image.jpg');
    background-size: cover;
    background-position: center;
}

.main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    border: solid 1px blue;
}

.main_page > * {
    border: 1px solid blue;
    flex: 1;
}